version: '3.5'

services:
  projeto42-sonarqube:
    image: ${DOCKER_REGISTRY}projeto42/sonarqube:${BRANCH}
    build:
      context: .
      dockerfile: src/Projeto42.SonarQube.WebApi/Dockerfile
      target: runtime